<!DOCTYPE html>
<html>


 

<!-- THis should style and adjust the size of aspects of the page as the size changes  -->
<head>
		<style type="text/css"></style>
		<script type="text/javascript" src="validation.js"></script>
		<link href="styles/style.css" rel="stylesheet">
		<meta name="handheldfriendly" content="true">
  		<meta name="mobileoptimized" content="240">
  		<meta name="viewport" content="width=device-width,initial-scale=1">

		<meta charset="utf-8">


		<title>Contact</title>
</head>





	<body>

		<header id="header">
	<!-- This page will the same formating wise as the home page. Only the content will change -->
		<h1>B I R D I E  L A N D</h1>

		


		<img src="images/2.jpg" alt="magestic scenery of birdie land"  width=1450 height=500 title="The Cliffs.">
	
		</header>
		<!-- Attempt at a hamburger button, should only apply when size of page decreases -->
			<!-- <a class="hamburger" href="#"> -->
			<div id="container" class="container">
			<nav>
				<ul>
					<!-- This my navigation -->
					<li id="homebutton">
						<a href="birdieland.html">Home</a>
						</li>
						<li id="contactbutton">
							<a href="contact.html">Contact</a>
						</li>
						<li id="about">
							<a href="about.html">About</a>
						</li>
					</ul>

					<!-- This is the social media logos -->
					<img src="images/001-instagram.png" alt="instagram logo">
					<img src="images/003-twitter.png" alt="twitter Logo">
				</nav>
			</div>

	


<!-- THis is the TITLE of the page -->
	<h2>Contact Us!</h2>
	<!-- This will be where the text field bars go -->


	<p>Your Name (required)</p>
	<input type="text" name="username">

	<p>Email (required)</p>
	<input type="text" name="useremail">

	



	<!-- This will be the text area for users to write their comments and quesiton -->
	<p>Talk to Us!</p>
	<textarea name="textarea"
   rows="10" cols="50">Comments or Questions?</textarea>




<!-- RADIO BUTTONS!!! -->
<!-- THis is the radio button with 3 options. Users can only select one option in which way they want to be contacted. Each option is named the same to ensure only one can be selected at a time and one will be deselected when another is chosen. -->
<form>
  <fieldset>
    <legend>Please select your preferred contact method:</legend>
    <div class="radiobtn">
      <input type="radio" id="contactChoice1"
       name="contact" value="email" checked>
      <label for="contactChoice1">Email</label>

      <input type="radio" id="contactChoice2"
       name="contact" value="phone">
      <label for="contactChoice2">Phone</label>

      <input type="radio" id="contactChoice3"
       name="contact" value="mail">
      <label for="contactChoice3">Mail</label>
  	</div>
  </fieldset>
</form>







<!-- THis is the CHECKBOX which will allow users to subcribe to our monthly travel blog -->
<form>
  <div>
    <input type="checkbox" id="subscribeblogt" name="subscribetravel" value="subscribeblogt">
    <label for="subscribeblogt">Subscribe to Travel Blog?</label>
  </div>
</form>

<form>
  <div>
    <input type="checkbox" id="subscribeblogm" name="subscribemonthly" value="subscribeblogm">
    <label for="subscribeblogm">Subsribe to Monthly Email Alert?</label>
  </div>




  <!-- Remember ****** to consider moving the submit button to the bottom of the form********** -->
  <div>
    <button type="submit">Submit</button>
  </div>
</form>


<!-- VALIDATION FORM -->

<form id="app" @submit="checkForm" action="/something" method="post" novalidate="true">
  
  <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
  
  <p>
    <label for="name">Name<label>
    <input type="text" name="name" id="name" v-model="name">
  </p>

  <p>
    <label for="email">Email<label>
    <input type="email" name="email" id="email" v-model="email">
  </p>

  <p>
    <label for="movie">Favorite Movie<label>
    <select name="movie" id="movie" v-model="movie">
      <option>Star Wars</option>
      <option>Vanilla Sky</option>
      <option>Atomic Blonde</option>
    </select>
  </p>

  <p>
    <input type="submit" value="Submit">  
  </p>

</form>






<!-- This photo will be adjacent to the information and equal in size. These two components will make up the entirety of the page -->
	<img src="images/3.jpg" alt= "Adventurer feet hanging over the cliffs" id="boots" width=420 height=700 title="Boots">
	


	<footer>		
					<p>1385 Woodroffe Ave.
					Ottawa
					Ontario
					Canada
					K2G 1V8
					613-727-4723</p>
			
			<!-- &copy; is an HTML entity that will create copy symbol when rendered by thr Browser -->
			<p>Copyright &copy; 2018 Celina Stillman</p>
			</footer>


	</body>


	
	
</html>